.Convert {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 560px;
  margin-bottom: 2em;
}

.Input {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 5px;
  height: 2em;
  flex-grow: 1;
}

.Row {
  flex-grow: 1;
  margin-bottom: 1em;
  display: flex;
}

.Label {
  display: inline-block;
  margin-right: 0.5em;
}
