.Navigation {
  height: 3em;
  background-color: black;
}

.Container {
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 100%;
}

.Link {
  display: inline-block;
  color: white;
  text-decoration: none;
  height: 100%;
  line-height: 3em;
  padding: 0 1em;
  border-right: 1px solid white;
  border-left: 1px solid white;
}

.Link + .Link {
  border-left: none;
}

@media (min-width: 768px) {
  .Navigation {
    height: 4em;
  }

  .Link {
    line-height: 4em;
  }
}
